/* Global CSS variables */
:root {
  --navy: #001f3f;
  --blue: #0074d9;
  --aqua: #7fdbff;
  --teal: #39cccc;
  --olive: #3d9970;
  --green: #2ecc40;
  --lime: #01ff70;
  --yellow: #ffdc00;
  --orange: #ff851b;
  --red: #ff4136;
  --fuchsia: #f012be;
  --purple: #b10dc9;
  --maroon: #85144b;
  --white: #ffffff;
  --gray: #aaaaaa;
  --silver: #dddddd;
  --black: #111111;
  --spacing: 1rem;
  --text-weight: 400;
  --titles-weight: 800;
  --block-round: 0;
  //   --text-font: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
  //     "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  //     "Segoe UI Symbol", "Noto Color Emoji";
  //   --titles-font: var(--text-font);
  //   --code-font: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace",
  //     "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace,
  //     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  //   --line-height: 1.5;
  //   --text-weight: 400;
  //   --titles-weight: 700;
  //   --form-element-weight: var(--text-weight);
  //   --buttons-weight: var(--text-weight);
  //   --code-weight: var(--text-weight);
  //   --base-font-xs: 16px;
  //   --base-font-sm: 17px;
  //   --base-font-md: 18px;
  //   --base-font-lg: 19px;
  //   --base-font-xl: 20px;
  //   --h1-size: 2rem;
  //   --h2-size: 1.75rem;
  //   --h3-size: 1.5rem;
  //   --h4-size: 1.25rem;
  //   --h5-size: 1.125rem;
  //   --h6-size: 1rem;
  //   --block-round: 0.25rem;
  //   --form-element-border-width: 1px;
  //   --form-element-outline-width: 3px;
  //   --checkbox-radio-border-width: 2px;
  //   --switch-border-width: 3px;
  //   --form-element-spacing-vertical: 0.75rem;
  //   --form-element-spacing-horizontal: 1rem;
  //   --button-round: var(--block-round);
  //   --button-border-width: var(--form-element-border-width);
  //   --button-outline-width: var(--form-element-outline-width);
  //   --button-spacing-vertical: var(--form-element-spacing-vertical);
  //   --button-spacing-horizontal: var(--form-element-spacing-horizontal);
  //   --spacing-gutter: 1rem;
  --spacing-block: 2rem;
  --spacing-factor-xs: 1;
  --spacing-factor-sm: 1.25;
  --spacing-factor-md: 1.5;
  --spacing-factor-lg: 1.75;
  --spacing-factor-xl: 2;
  //   --spacing-typography: 1.5rem;
  //   --spacing-form-element: 0.25rem;
  //   --transition: 0.2s ease-in-out;
}

body.dark {
  --bg-color: #000;
  --bg-secondary-color: #131316;
  --font-color: #f5f5f5;
  --color-grey: #ccc;
  --color-darkGrey: #777;
}

*,
*:before,
*:after {
  box-sizing: border-box !important;
}

article {
  margin-bottom: 50px;
}

.bold {
  font-weight: 900;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

/* Typography */
h2,
h3,
hgroup > :last-child {
  font-weight: 200;
}

p {
  font-weight: 200;
  font-size: 1.25em;
}

small {
  color: var(--muted-text);
}

.strong {
  font-weight: 400;
}

/* Header */
.hero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-top: 150px;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 540px;
  width: 100vw;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing) 0;
}
header hgroup > :last-child {
  color: var(--h3);
}
header hgroup {
  z-index: 10;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.7) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  margin-bottom: var(--spacing);
}

.sticky-nav {
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100px;
}

.navigation {
  z-index: 60;
  position: sticky;
  top: 65px;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100px;
}

.nav-link {
  font-size: larger;
}

// #navbar {
//   top: 65px;
// }

// #sub-navbar {
//   top: 140px;
// }

#toolbar {
  z-index: 60;
  height: 65px;
  flex-wrap: wrap;

  // background-color: rgba(255, 255, 255, 0.1);
  #nav-logo {
    // width: 180px;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 20%;
  // > article {
  //   margin-top: 45%;
  // }
}

.modal {
  background: white;
  padding: 25px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: inherit;
}

#fab {
  position: fixed;
  bottom: 100px;
  right: 0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  // background: var(--card-background);
  box-shadow: var(--card-shadow);
}

.m-r-16 {
  margin-right: 16px;
}

.pointer {
  cursor: pointer;
}

/* Main */
main .grid > * {
  margin-bottom: var(--spacing);
}
@media (min-width: 992px) {
  main > .grid {
    grid-column-gap: var(--spacing);
    grid-template-columns: auto 25%;
  }

  .hero {
    margin-bottom: 150px;
  }
}
form.grid {
  grid-row-gap: 0;
}

/* Aside nav */
aside img {
  margin-bottom: 0.25rem;
}
aside p {
  margin-bottom: var(--spacing);
  line-height: 1.25;
}
