/* Global CSS variables */
:root {
  --bg-color: #ffffff;
  --bg-secondary-color: #f3f3f6;
  --color-primary: #236F21;
  --color-lightGrey: #eeeeee;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-color: #333333;
  --font-family-sans: "Poppins", sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
  --navy: #001f3f;
  --blue: #0074d9;
  --aqua: #7fdbff;
  --teal: #39cccc;
  --olive: #3d9970;
  --green: #2ecc40;
  --lime: #01ff70;
  --yellow: #ffdc00;
  --orange: #ff851b;
  --red: #ff4136;
  --fuchsia: #f012be;
  --purple: #b10dc9;
  --maroon: #85144b;
  --white: #ffffff;
  --gray: #aaaaaa;
  --silver: #dddddd;
  --black: #111111;
  --spacing: 1rem;
  --text-weight: 400;
  --titles-weight: 800;
  --block-round: 0;
  --spacing-block: 2rem;
  --spacing-factor-xs: 1;
  --spacing-factor-sm: 1.25;
  --spacing-factor-md: 1.5;
  --spacing-factor-lg: 1.75;
  --spacing-factor-xl: 2;
  --transition: 0.2s ease-in-out;
  //   --text-font: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
  //     "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  //     "Segoe UI Symbol", "Noto Color Emoji";
  //   --titles-font: var(--text-font);
  //   --code-font: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace",
  //     "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace,
  //     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  //   --line-height: 1.5;
  //   --text-weight: 400;
  //   --titles-weight: 700;
  --form-element-weight: var(--text-weight);
  //   --buttons-weight: var(--text-weight);
  //   --code-weight: var(--text-weight);
  //   --base-font-xs: 16px;
  //   --base-font-sm: 17px;
  //   --base-font-md: 18px;
  //   --base-font-lg: 19px;
  //   --base-font-xl: 20px;
  //   --h1-size: 2rem;
  //   --h2-size: 1.75rem;
  //   --h3-size: 1.5rem;
  //   --h4-size: 1.25rem;
  //   --h5-size: 1.125rem;
  //   --h6-size: 1rem;
  //   --block-round: 0.25rem;
  --form-element-border-width: 1px;
  --form-element-outline-width: 3px;
  //   --checkbox-radio-border-width: 2px;
  //   --switch-border-width: 3px;
  --form-element-spacing-vertical: 0.75rem;
  --form-element-spacing-horizontal: 1rem;
  //   --button-round: var(--block-round);
  --button-border-width: var(--form-element-border-width);
  --button-outline-width: var(--form-element-outline-width);
  --button-spacing-vertical: var(--form-element-spacing-vertical);
  --button-spacing-horizontal: var(--form-element-spacing-horizontal);
  //   --spacing-gutter: 1rem;
  //   --spacing-typography: 1.5rem;
  --spacing-form-element: 0.25rem;
  overflow: hidden;
}

body {
    overflow-y: scroll;
    max-height: 100vh;
}

.no-list {
    list-style: none;
}

body.dark {
  --bg-color: #000;
  --bg-secondary-color: #131316;
  --font-color: #f5f5f5;
  --color-grey: #ccc;
  --color-darkGrey: #777;
}

*,
*:before,
*:after {
  box-sizing: border-box !important;
  touch-action: manipulation !important;
}

article {
  margin-bottom: 50px;
}

.bold {
  font-weight: 900;
}

body,
html {
  overflow: hidden;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
}

img {
  height: intrinsic;
  width: intrinsic;
}

#logo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: white;
  z-index: 10000;
  .heartbeat {
    position: fixed;
    width: 50vh;
  }
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

formgroup {
  display: block;
}

/* Typography */
h2,
h3,
hgroup > :last-child {
  font-weight: 200;
}

p {
  font-weight: 200;
  font-size: 1.25em;
}


.toastui-editor-popup-add-image .toastui-editor-file-select-button {
  padding: 0;
}
.toastui-editor-defaultUI .ProseMirror {
  font-size: 1.75rem !important;
}



.is-large-p *> p {
  font-size: 1.5em;
}

small {
  color: var(--muted-text);
}

.smaller {
  font-size: 1.5em;
}

.heading {
  font-size: xxx-large !important;
  font-size: -webkit-xxx-large !important;

}

.flex-row {
  display: flex;
  flex-flow: row;
}

.flex-col {
  display: flex;
  flex-flow: column;
}


.strong {
  font-weight: 400;
}


.m-auto  {
  margin: 0 auto;
}

.p-x-6 {
  padding-left: 6px;
  padding-right: 6px;
}

.p-x-l-50 {
  padding-left: 50px;
}

.p-x-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.p-y-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.p-y-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.p-y-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.p-t-25 {
  padding-top: 25px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.m6 {
  margin: 6px;
}

.m-r-16 {
  margin-right: 16px;
}

.m-l-16 {
  margin-left: 16px;
}

.m-x-6 {
  margin-left: 6px;
  margin-right: 6px;
}

.m-y-6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-b-15 {
  margin-bottom: 15px!important;
}

.height-auto {
  height: auto;
}

.width-auto {
  width: auto;
}

.fc-header-toolbar {
  min-width: 100%;
}

/* Header */
#hero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-top: 30px;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 240px;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;

}

.text-cover {
  height: 100px;
  /* border: 1px solid blue; */
  width: calc(100%);
  position: sticky;
  bottom: -10px;
  left: 0;
  background: rgb(249,243,243);
  background: linear-gradient(0deg, white 35%, rgba(43, 5, 147, 0) 100%);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing) 0;
}
header hgroup > :last-child {
  color: var(--h3);
}
header hgroup {
  z-index: 10;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.7) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  margin-bottom: var(--spacing);
}

.sticky-nav {
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100px;
}

#page-title {
  letter-spacing: 2px;
  background-color: var(--white);
}

.homeCard {
  min-width: 40%;
}

#navigation {
  z-index: 60;
  transition: top 0.3s ease-in-out;
  top: 65px;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 102px;
}

.nav-link {
  font-size: larger;
  word-wrap: break-word;
}

// #navbar {
//   top: 65px;
// }

#sub-navbar {
  border-top: 2px dotted green;
}

#toolbar {
  z-index: 60;
  height: 65px;
  flex-wrap: wrap;

  // background-color: rgba(255, 255, 255, 0.1);
  #nav-logo {
    transform: scale(2);
    max-height: -webkit-fill-available;
    max-width: 95px;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 20%;
  // > article {
  //   margin-top: 45%;
  // }
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal {
  background: var(--white);
  color: var(--font-color);
  padding: 15px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 90%;
  min-width: 95vw;
  display: flex;
  flex-flow: column;
}

.modal-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: fit-content;
  max-height: 80%;
  transition: height 3s ease;
}

.modal-footer {
  padding-top: 20px;
}

#fab {
  position: fixed;
  bottom: 100px;
  right: 0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  // background: var(--card-background);
  box-shadow: var(--card-shadow);
}

.bg-white {
  background: var(--white);
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.overflow-x-auto {
  overflow-x: auto;
}

/* Main */
main {
  overflow-x: hidden;
  overflow-y: auto;
}

// main .grid > * {
//   margin-bottom: var(--spacing);
// }

@media only screen and (max-width: 480px) {
  .toastui-editor-dropdown-toolbar {
    max-width: none;
    flex-wrap: wrap;
    height: fit-content;
  }

  .toastui-editor-popup, .toastui-editor-popup-add-image {
    left: 153px !important;
  }
}

@media (min-width: 992px) {
  main > .grid {
    // grid-column-gap: var(--spacing);
    // grid-template-columns: auto 25%;
  }

  // .hero {
  //   margin-bottom: 40px;
  // }
}

form.grid {
  grid-row-gap: 0;
  padding: 10px;
}

/* Aside nav */
aside img {
  margin-bottom: 0.25rem;
}
aside p {
  margin-bottom: var(--spacing);
  line-height: 1.25;
}
