/* Global CSS variables */
:root {
  --spacing: 3rem;
  --text-weight: 400;
  --titles-weight: 800;
  --block-round: 0;
}

/* Typography */
h2,
h3,
hgroup > :last-child {
  font-weight: 200;
}
small {
  color: var(--muted-text);
}

/* Header */
.hero {
  background-image: url("images/main.webp");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing) 0;
}
header hgroup > :last-child {
  color: var(--h3);
}
header hgroup {
  margin-bottom: var(--spacing);
}

.navigation {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

#sub-navbar {
  top: 45px;
}

#toolbar {
  height: 65px;
  // background-color: rgba(255, 255, 255, 0.1);
  #nav-logo {
    width: 180px;
  }
}

#modal-container {
  position: absolute;
  width: 100vw;
}

/* Main */
main .grid > * {
  margin-bottom: var(--spacing);
}
@media (min-width: 992px) {
  main .grid {
    grid-column-gap: var(--spacing);
    grid-template-columns: auto 25%;
  }
}
form.grid {
  grid-row-gap: 0;
}

/* Aside nav */
aside img {
  margin-bottom: 0.25rem;
}
aside p {
  margin-bottom: var(--spacing);
  line-height: 1.25;
}
